

@if (!User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
}
else
{
    <li class="nav-item">
        @* <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Log out</a> *@
        <form asp-controller="Auth" asp-action="Logout" method="post">
            <button class="btn btn-outline-danger">Log out</button>
        </form>
    </li>
}

