@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Onnorokom Notice</h1>
    
    <div class="">
        <a class="btn btn-outline-success" asp-controller="Notice" asp-action="Create">Create notice</a>
    </div>
</div>